__pycache__/
*.py[cod]
*pyo
.env
*.egg-info/
dist/
build/

.conda/

logs/checkpoints/
logs/tensorboard/
outputs/


.nvidia-omniverse/
_isaac_sim/
*.usd.bak

.vscode/
*.code-workspace

.DS_Store
Thumbs.db